use_default_settings: true

general:
  debug: false
  instance_name: "AI Study Buddy Search"

server:
  secret_key: "e93c082bdeed1d4bd680903c8897d279890103130b3c90e6bbfdf4585fc744e7"
  limiter: false
  image_proxy: true

ui:
  static_use_hash: true
  default_locale: "en"
  theme_args:
    simple_style: dark

search:
  safe_search: 0
  autocomplete: ""
  default_lang: "en"
  formats:
    - html
    - json

enabled_plugins:
  - 'Basic Calculator'
  - 'Hash plugin'
  - 'Self Information'
  - 'Tracker URL remover'

engines:
  - name: wikipedia
    disabled: false
  - name: wikidata
    disabled: false
  - name: duckduckgo
    disabled: false
  - name: google
    disabled: false
  - name: bing
    disabled: false
  - name: brave
    disabled: false
  - name: github
    disabled: false
  - name: stackoverflow
    disabled: false
  - name: arxiv
    disabled: false
